# secrets
*.env
*secret*

# terraform
# ref: https://github.com/github/gitignore/blob/master/Terraform.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# dev cache
.vscode
*.pyc
*.props
**/__pycache__

# pyenv
.python-version

# random experiments
experiments

# data
data/**/ext

# logs
**/logs

# digitalocean deployment files
.deployed
